# CONFIGURATION
## GLOBAL
NODE_ENV=development
IP=0.0.0.0
GTW_PORT=8181
GTW_TOKEN_TTL=86400
## XMPP Configuration
XMPP_SERVICE=xmpp://auroral.dev.bavenir.eu:5222
XMPP_DOMAIN=auroral.dev.bavenir.eu
XMPP_RESOURCE=AuroralNode
### Used to match requests of platform admin user. I.e: auroral-user-1
XMPP_ENVIRONMENT=auroral
## Gateway Credentials
GTW_ID=
GTW_PWD=
## Agent connection
GTW_AGENT_HOST=http://localhost
GTW_AGENT_PORT=4000
## NM Server
NM_HOST="https://auroral.dev.bavenir.eu/api/gtw/v1/"
## Persistance
### EVENTS
EVENT_SETTINGS_FILE=events.json
### DLT
ENABLED=false