# CONFIGURATION
## GLOBAL
NODE_ENV=development
TOKEN_TTL=86400
IP=0.0.0.0
PORT=8181
## XMPP
XMPP_SERVICE=xmpp://auroral.dev.bavenir.eu:5222
XMPP_DOMAIN=auroral.dev.bavenir.eu
XMPP_RESOURCE=AuroralNode
## Gateway
GATEWAY_ID=
GATEWAY_PASSWORD=
## NM
NM_HOST=
## EVENTS
EVENT_SETTINGS_FILE=events.json
