# CONFIGURATION
## GLOBAL
NODE_ENV=development
GTW_TOKEN_TTL=86400
IP=0.0.0.0
GTW_PORT=8181
## XMPP
XMPP_SERVICE=xmpp://auroral.dev.bavenir.eu:5222
XMPP_DOMAIN=auroral.dev.bavenir.eu
XMPP_RESOURCE=AuroralNode
## Gateway
GTW_ID=
GTW_PWD=
## NM
NM_HOST=
## EVENTS
EVENT_SETTINGS_FILE=events.json
## Agent connection
GTW_AGENT_HOST=http://localhost
GTW_AGENT_PORT=4000